
body{ 
     margin: 0;
	 padding: 0;
	 line-height: 0;	 
}

.banner {
	background-image: url('/WarnerBros images/Warnerbros MenuH.png');
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.envelope {
	position: absolute;
	margin-top: 20px;
	margin-left: 200px;
	width: auto;
}


.navbar {
	overflow: hidden;
	background-color: #111959;
}

.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #dd;
	color: black;
}

.navbar input[type=text] {
	position: relative;
	left:6px;
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}

.navbar input[type=text] {
	border: 1px solid #ccc;
}



#feedback-div {
  background-color: #111959;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}




#feedback-name {
  background-image: url("WarnerBros images/WB logo.png");
  background-size: 32px 32px;
  background-position: 13px 10px;
  background-repeat: no-repeat;
}

#feedback-name:focus {
  background-image: url("WarnerBros images/WB logo.png");
  background-size: 32px 32px;
  background-position: 13px 10px;
  background-repeat: no-repeat;
}

#feedback-email {
  background-image: url("WarnerBros images/WB logo.png");
  background-size: 32px 32px;
  background-position: 13px 10px;
  background-repeat: no-repeat;
}

#feedback-email:focus {
  background-image: url("WarnerBros images/WB logo.png");
  background-size: 32px 32px;
  background-position: 13px 10px;
  background-repeat: no-repeat;
}

#feedback-comment {
  background-image: url("WarnerBros images/WB logo.png");
  background-size: 32px 32px;
  background-position: 13px 10px;
  background-repeat: no-repeat;
}

#feedback-comment {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
#feedback-comment:hover,
input:focus,
#feedback-comment:focus {
  background-color: white;
}

#feedback-button-blue {
  font-family: "Roboto", helvetica, arial, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#feedback-button-blue:hover {
  background-color: #028a0f;
  color: #ffffff;
}

.feedback-button-blue:hover {
  color: #3498db;
}

.feedback-ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.feedback-submit:hover .feedback-ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #feedback-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}





.footerblock {
	background-image: url("WarnerBros images/Footer2.png");
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.footer envelope{
	position: absolute;
	margin-top: 100px;
	width: auto;
}

.footerbar {
	overflow: hidden;
	background-color: #333;
}

.footerbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 12px;
}

.footerbar a:hover {
	background-color: #dd;
	color: black;
}